<<<<<<< HEAD
=======
body{
	background: black;
	padding-top: 80px;
	font-family: Arial, monospace;
	background-size: cover;
	color: white;
}

>>>>>>> Rutas cambiadas (Test)
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
<<<<<<< HEAD
=======

>>>>>>> Rutas cambiadas (Test)
    text-decoration: none;
    color: initial;
}

h1{
<<<<<<< HEAD
=======

>>>>>>> Rutas cambiadas (Test)
	text-align: center;
	text-decoration: underline;
}

h2{
<<<<<<< HEAD
=======

>>>>>>> Rutas cambiadas (Test)
	margin: 10px;
}

.is{
<<<<<<< HEAD
=======

>>>>>>> Rutas cambiadas (Test)
	width: 500px;
	margin: 10px;

}

.Img6{
<<<<<<< HEAD
=======
	
>>>>>>> Rutas cambiadas (Test)
	width: 350px;
	border: 2px solid white;
	position: absolute;
	top: 250px;
	bottom: ;
	right:;
	left: 600px;
}

.Img7{
<<<<<<< HEAD
	width: 350px;
=======

	width: 350px;
	
>>>>>>> Rutas cambiadas (Test)
	position: relative;
	top: ;
	bottom: ;
	right:;
	left: 450px;
}

.Img8{
<<<<<<< HEAD
	width: 350px;
=======

	width: 350px;
	
>>>>>>> Rutas cambiadas (Test)
	position: relative;
	top: ;
	bottom: ;
	right:;
	left: 475px;
}

.Img9{

	width: 440px;
	background: white;
	position: relative;
	top: ;
	bottom: ;
	right:;
	left: 410px;
}

.Img10{

	width: 400px;
<<<<<<< HEAD
=======
	
>>>>>>> Rutas cambiadas (Test)
	position: relative;
	top: ;
	bottom: ;
	right:;
	left: 480px;
}

.Img11{

	width: 400px;
<<<<<<< HEAD
=======
	
>>>>>>> Rutas cambiadas (Test)
	position: relative;
	top: ;
	bottom: ;
	right:;
	left: 450px;

